{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    NextGen login form. Field names, tokens, and the core JS block match Boost.
}}
<div class="loginform ng-auth-form">
    {{#logourl}}
    <div id="loginlogo" class="d-flex mb-4">
        <img id="logoimage" src="{{logourl}}" class="ng-brand-mark" alt="{{sitename}}"/>
    </div>
    {{/logourl}}
    <h1 class="ng-auth-heading">{{#str}}loginwelcomeback{{/str}}</h1>
    <p class="ng-auth-lead">{{#str}} loginto, core, {{sitename}} {{/str}}</p>
    {{#maintenance}}
        <div class="alert alert-danger login-maintenance">
            {{{maintenance}}}
        </div>
    {{/maintenance}}
    {{#error}}
        <div class="alert alert-danger" id="loginerrormessage" role="alert">
            {{#errortitle}}<strong class="d-block mb-1">{{errortitle}}</strong>{{/errortitle}}
            {{error}}
        </div>
    {{/error}}
    {{#info}}
        <div class="alert alert-info" id="logininfomessage" role="status">{{info}}</div>
    {{/info}}
    {{#showloginform}}
        <form class="login-form" action="{{loginurl}}" method="post" id="login">
            <input id="anchor" type="hidden" name="anchor" value="">
            <script>document.getElementById('anchor').value = location.hash;</script>
            <input type="hidden" name="logintoken" value="{{logintoken}}">
            <div class="login-form-username mb-3">
                <label for="username" class="form-label">
                    {{^canloginbyemail}}
                        {{#str}} username {{/str}}
                    {{/canloginbyemail}}
                    {{#canloginbyemail}}
                        {{#str}} usernameemail {{/str}}
                    {{/canloginbyemail}}
                </label>
                <input type="text" name="username" id="username" {{!
                    !}}class="form-control" {{!
                    !}}value="{{username}}" {{!
                    !}}placeholder="{{^canloginbyemail}}{{#str}}enterusername{{/str}}{{/canloginbyemail}}{{!
                    !}}{{#canloginbyemail}}{{#str}}loginenterusernameoremail{{/str}}{{/canloginbyemail}}" {{!
                    !}}autocomplete="username">
            </div>
            <div class="login-form-password mb-3">
                <label for="password" class="form-label">{{#str}} password {{/str}}</label>
                <input type="password" name="password" id="password" value="" {{!
                    !}}class="form-control" {{!
                    !}}placeholder="{{#str}}loginenterpassword{{/str}}" {{!
                    !}}autocomplete="current-password">
            </div>
            <div class="ng-auth-forgot">
                <a href="{{forgotpasswordurl}}">{{#str}}loginforgotpassword{{/str}}</a>
            </div>
            {{#recaptcha}}
                <div class="login-form-recaptcha mb-3">
                    {{{recaptcha}}}
                </div>
            {{/recaptcha}}
            <div class="login-form-submit">
                <button class="btn btn-primary w-100" type="submit" id="loginbtn">{{#str}}login{{/str}}</button>
            </div>
        </form>
    {{/showloginform}}
    {{#hasauthinstructions}}
        <div class="d-lg-none small mb-3">
            {{{instructions}}}
        </div>
    {{/hasauthinstructions}}
    {{^hasauthinstructions}}
        {{#cansignup}}
            <div class="ng-auth-signup">
                {{#instructions}}
                    <span class="me-1">{{{instructions}}}</span>
                {{/instructions}}
                <a href="{{signupurl}}">{{#str}}loginstartsignup{{/str}}</a>
            </div>
        {{/cansignup}}
        {{^cansignup}}
            {{#instructions}}
                <p class="ng-auth-signup">{{{instructions}}}</p>
            {{/instructions}}
        {{/cansignup}}
    {{/hasauthinstructions}}
    {{#hasauthinstructions}}
        {{#cansignup}}
            <div class="ng-auth-signup">
                <a href="{{signupurl}}">{{#str}}loginstartsignup{{/str}}</a>
            </div>
        {{/cansignup}}
    {{/hasauthinstructions}}
    {{#hasidentityproviders}}
        <div class="login-separator">{{#str}}loginseparatoror{{/str}}</div>
    {{/hasidentityproviders}}
    {{^hasidentityproviders}}
        {{#canloginasguest}}
            <div class="login-separator">{{#str}}loginseparatoror{{/str}}</div>
        {{/canloginasguest}}
    {{/hasidentityproviders}}
    {{#hasidentityproviders}}
        <div class="login-identityproviders">
            {{#identityproviders}}
                <a class="btn login-identityprovider-btn mb-3" href="{{url}}">
                    {{#iconurl}}
                        <img src="{{iconurl}}" alt="" width="24" height="24"/>
                    {{/iconurl}}
                    {{#str}}loginwith, core, {{name}}{{/str}}
                </a>
            {{/identityproviders}}
        </div>
    {{/hasidentityproviders}}
    {{#canloginasguest}}
        <form action="{{loginurl}}" method="post" id="guestlogin">
            <input type="hidden" name="logintoken" value="{{logintoken}}">
            <input type="hidden" name="username" value="guest" />
            <input type="hidden" name="password" value="guest" />
            <button class="btn login-identityprovider-btn" type="submit" id="loginguestbtn"><i class="fa fa-user me-2" aria-hidden="true"></i>{{#str}}loginasguest{{/str}}</button>
        </form>
    {{/canloginasguest}}
    <p class="ng-auth-browse d-lg-none">
        <a href="{{config.wwwroot}}/course/index.php">{{#str}}authbrowse, theme_nextgen{{/str}}</a>
    </p>
    {{#languagemenu}}
        <div class="login-languagemenu d-flex justify-content-center my-4">
            {{>core/action_menu}}
        </div>
    {{/languagemenu}}
    <div class="login-cookiesnotice text-center">
        <button type="button" class="btn btn-link p-0" {{!
        }} data-modal="alert"{{!
        }} data-modal-title-str='["cookiesenabled", "core"]' {{!
        }} data-modal-content-str='["cookiesenabled_help_html", "core"]'{{!
        }}>{{#str}}cookiesnotice{{/str}}</button>
    </div>
</div>

{{#js}}
    {{^error}}
        {{#autofocusform}}
            require(['core_form/events'], function(FormEvent) {
                function autoFocus() {
                    const userNameField = document.getElementById('username');
                    const passwordField = document.getElementById('password');
                    if (userNameField && userNameField.value.length == 0) {
                        userNameField.focus();
                    } else if (passwordField) {
                        passwordField.focus();
                    }
                }
                autoFocus();
                window.addEventListener(FormEvent.eventTypes.fieldStructureChanged, autoFocus);
            });
        {{/autofocusform}}
    {{/error}}
    require(['core/pending'], function(Pending) {
        const errorMessageDiv = document.getElementById('loginerrormessage');
        const infoMessageDiv = document.getElementById('logininfomessage');
        const errorMessage = errorMessageDiv?.textContent.trim();
        const infoMessage = infoMessageDiv?.textContent.trim();
        if (errorMessage || infoMessage) {
            const pendingJS = new Pending('login-move-focus');
            const usernameField = document.getElementById('username');
            setTimeout(function() {
                if (errorMessage && usernameField) {
                    usernameField.focus();
                }
                if (errorMessage) {
                    errorMessageDiv.innerHTML += "&nbsp;";
                }
                if (infoMessage) {
                    infoMessageDiv.innerHTML += "&nbsp;";
                }
                pendingJS.resolve();
            }, 500);
        }
    });
    {{#togglepassword}}
        require(['core/togglesensitive'], function(ToggleSensitive) {
            ToggleSensitive.init("password", {{smallscreensonly}});
        });
    {{/togglepassword}}
    require(['core_form/submit'], function(Submit) {
        Submit.init("loginbtn");
        {{#canloginasguest}}
            Submit.init("loginguestbtn");
        {{/canloginasguest}}
    });
{{/js}}
