{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_nextgen/catalogue_body
}}
<section class="ng-section ng-catalogue-section">
    <div class="ng-landing-inner">
        {{#hascategory}}
            <h2 class="ng-catalogue-heading">{{categoryname}}</h2>
        {{/hascategory}}
        {{#hascourses}}
            <div class="ng-card-grid">
                {{#courses}}
                    {{> theme_nextgen/course_card }}
                {{/courses}}
            </div>
        {{/hascourses}}
        {{^hascourses}}
            <p class="ng-empty ng-catalogue-empty">{{emptytext}}</p>
        {{/hascourses}}
    </div>
</section>
